<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script>
  var menuBtn = document.querySelector('header button.menu');
  var aside = document.querySelector('aside');
  var settingsBtn = document.querySelector('header button.settings');
  var settingsShade = document.querySelector('header .settings-shade');
  var nightModeBtn = document.querySelector('button.night-mode');

  menuBtn.addEventListener('click', toggleMenu);
  aside.addEventListener('click', checkAside);
  settingsBtn.addEventListener('click', toggleSettings);
  settingsShade.addEventListener('click', toggleSettings);
  nightModeBtn.addEventListener('click', toggleNightMode);

  function toggleMenu() {
    document.querySelector('body').classList.toggle('menu-toggled');
  }

  function checkAside(e) {
    if (e.target !== aside) { return; }

    toggleMenu();
  }

  function toggleSettings() {
    document.querySelector('body').classList.toggle('settings-open');
  }

  function toggleNightMode() {
    document.querySelector('body').classList.toggle('night-mode');

    if (document.querySelector('body').classList.contains('night-mode')) {
      document.cookie = "theme=night-mode";
    } else {
      document.cookie = "theme=light-mode";
    }
  }
</script>
