<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script>
  var menuBtn = document.querySelector('header button.menu');

  menuBtn.addEventListener('click', toggleMenu);

  function toggleMenu() {
    document.querySelector('body').classList.toggle('menu-toggled');
  }

  var aside = document.querySelector('aside');

  aside.addEventListener('click', checkAside);

  function checkAside(e) {
    if (e.target !== aside) { return; }

    toggleMenu();
  }

  var settingsBtn = document.querySelector('header button.settings');

  settingsBtn.addEventListener('click', toggleSettings);

  function toggleSettings() {
    document.querySelector('body').classList.toggle('settings-open');
  }

  var settingsShade = document.querySelector('header .settings-shade');

  settingsShade.addEventListener('click', toggleSettings);

  var nightModeBtn = document.querySelector('button.night-mode');

  nightModeBtn.addEventListener('click', toggleNightMode);

  function toggleNightMode() {
    document.querySelector('body').classList.toggle('night-mode');
  }
</script>
